<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
<link rel="icon" href="../media/icon.png" th:href="@{/media/icon.png}" />
<title>Enchère confirmée</title>
</head>
<body>
<div class="Grid">
<div class="ConfirmationMessageWrapper">
	<h1 class="ConfirmationMessage">Votre enchère est enregistrée !</h1>
	<a href="javascript:history.back()" class="BackButton">Retour</a>
</div>
</div>
</body>
</html>