<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
<link rel="icon" href="../media/icon.png" th:href="@{/media/icon.png}" />
<title>Enchère confirmée</title>
</head>
<body>
<div class="Header">
	<div style="display: flex; height: 100%; align-items: center;">
		<img class="HeaderImage" src="../media/hicon.png" th:src="@{/media/hicon.png}" />
		<a href="/" class="HeaderLink">Baie-électronique</a>
	</div>
	<div style="display: flex; height: 100%; align-items: center;">
		<a href="/sale/new" class="HeaderLink">Créer une vente</a>
		<a href="/profile" class="HeaderLink">Espace personnel</a>
		<a href="/logout" class="HeaderLink">Se déconnecter</a>
	</div>
</div>
<div class="Grid">
<div class="ConfirmationMessageWrapper">
	<h1 class="ConfirmationMessage">Une entrée non valide...</h1>
	<a href="javascript:history.back()" class="BackButton">Retour</a>
</div>
</div>
</body>
</html>