<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Maison des enchères</title>
<link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
<link rel="icon" href="../media/icon.png" th:href="@{/media/icon.png}" />
</head>
<body>
<div class="Header">
	<div style="display: flex; height: 100%; align-items: center;">
		<img class="HeaderImage" src="../media/hicon.png" th:src="@{/media/hicon.png}" />
		<a href="/" class="HeaderLink">Baie-électronique</a>
	</div>
	<div style="display: flex; height: 100%; align-items: center;">
		<a href="/sale/new" class="HeaderLink">Créer une vente</a>
		<a href="/profile" class="HeaderLink">Espace personnel</a>
		<a href="/logout" class="HeaderLink">Se déconnecter</a>
	</div>
</div>
<div class="Grid">
	<a  th:each="room : ${rooms}" th:href="@{/room(room_code=${room.getId()})}" class="GridItem">
		<div class="GridItemHeader"><span th:text="'Salle n° ' + ${room.getId()}"></span></div>
		<span class="RoomSign" th:text="'Catégorie : ' + ${room.getCategory().getCategory_name()}"></span>
		<span class="RoomSign" th:text="'Type : ' + ${room.getRoom_type()}"></span>
		<span class="RoomSign" th:text="'Déscription de la catégorie : ' + ${room.getCategory().getCategory_description()}"></span>
	</a>
</div>
</body>
</html>