<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Maison des enchères</title>
<link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
<link rel="icon" href="../media/icon.png" th:href="@{/media/icon.png}" />
</head>
<body>
<div class="Grid">
	<a>
		<a href="/profile" class="BackButton">Mon profile</a>
	</a>
</div>
<div class="Grid">
	<a  th:each="room : ${rooms}" th:href="@{/room(room_code=${room.getId()})}" class="GridItem">
		<p th:text="'Salle n° ' + ${room.getId()}"></p>
		<p th:text="${room.getCategory().getCategory_name()}"></p>
	</a>
</div>
</body>
</html>