<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="'Vente n° ' + ${sale.getId()}"></title>
<link rel="stylesheet" type="text/css" media="all" href="../css/main.css" th:href="@{/css/main.css}" />
<link rel="icon" href="../media/icon.png" th:href="@{/media/icon.png}" />
</head>
<body>
<div class="Header">
	<div style="display: flex; height: 100%; align-items: center;">
		<img class="HeaderImage" src="../media/hicon.png" th:src="@{/media/hicon.png}" />
		<a href="/" class="HeaderLink">Baie-électronique</a>
	</div>
	<div style="display: flex; height: 100%; align-items: center;">
		<a href="/sale/new" class="HeaderLink">Créer une vente</a>
		<a href="/profile" class="HeaderLink">Espace personnel</a>
		<a href="/logout" class="HeaderLink">Se déconnecter</a>
	</div>
</div>
<div class="Grid">
<a href="javascript:history.back()" class="BackButton">Retour</a>
</div>

<div class="SaleDetailBox">
	<div class="GridItemHeader" style="font-size: 22px;"><span th:text="${sale.getLot().showLot()}"></span></div>
	<span class="SaleDetailItem" th:text="'Début de vente : ' + ${#temporals.format(sale.getStart_tstamp(), 'dd/MM/yyyy HH:mm')}"></span><br />
	<span class="SaleDetailItem" th:text="'Prix : ' + ${sale.getStart_price().toString()}"></span><br />
	<span class="SaleDetailItem" th:text="'Meilleure offre : ' + ${sale.getBestBid()?.getAmount()}"></span><br />
	<span class="SaleDetailItem" th:text="'Fin de vente : ' + ${#temporals.format(sale.getEnd_tstamp(), 'dd/MM/yyyy HH:mm')}"></span><br />
	<div class="BidWrapper">
		<!--
		<div th:each="bid : ${sale.getBids()}" class="BidBox"><form action="sale/close" method="post"><label th:text="${bid.getAmount().toString()} + '€ par ' + ${bid.getBase_user().getFullName()}"></label><input type="hidden" name="bid_code" th:attr="value=${bid.getId()}" /><input type="hidden" name="sale_code" th:attr="value=${sale.getId().toString()}" /><input type="submit" value="Accepter" class="BidAcceptButton"/></form></div></div>
		-->
		<div th:each="bid : ${sale.getBids()}" class="BidBox"><span th:text="${bid.getQuantity()} + ' pour ' + ${bid.getAmount().toString()} + '€ par ' + ${bid.getBase_user().getFullName()}"></span><span th:text="${bid.getAccepted()} ? 'Accepté' : 'Non accepté'"></span></div>
	</div>
</div>	


</body>
</html>